.faq {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 80px;
}

.faq-faqs {
    margin-bottom: 20px;
}

.faq-more{
    width:fit-content;
    background-color: yellowgreen;
    border: 1px solid green;
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-more-search{
    margin-top:10px;
    background-color: thistle;
    width:fit-content;
    padding: 10px;
    border-radius: 15px;
}

.faq-more-search > input{
    border: none;
    background-color: thistle;
}

.faq-more-search > input::placeholder {
    font-size: 8px;
}