.contect, .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

.contact-form__type > p, .contact-form__name, .contact-form__tel, .contact-form__email, .contact-form__text {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px blue solid;
    width:400px;
}

.contact-form__name, .contact-form__tel, .contact-form__email, .contact-form__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-form__name >input, .contact-form__tel >input, .contact-form__email >input, .contact-form__text >input {
    padding-top:10px;
    margin-top: 10px;
}

.contact-form__info > h1 {
    font-size: 23px;
    font-weight: bold;
    padding: 10px 0;
}