.bubble-title{
    background-color: coral;
    font-size: 40px;
    font-weight: 600;
    margin:30px 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.bubble-room{
    width : 400px; 
    background-color: cornflowerblue;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    padding : 20px;
}

.get-bubble {
 background-color: darkcyan;
 padding: 10px 20px;
 border: 1px solid wheat;
 border-radius: 20px;
 margin-bottom: 20px;
 border-top-left-radius: 0;
 width:fit-content;
}

.push-bubble{
    background-color: wheat;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 0;
    width:fit-content;
}